@import 'variables';
@import 'utilities';

html {
  height: 100vh;
}
// reset general styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Condensed', sans-serif;
  // background: $bg-body;
  // background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(19,19,37,1) 77%, rgba(116,85,5,1) 100%);
  background: url(assets/Screenshot_1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat no-repeat;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: $navbar-height;
  width: 100%;
  background-color: transparent;
  z-index: 998;

  &__left {
    height: 53px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2px;
    top: 14px;
  }

  &__title {
    text-transform: uppercase;
    color: $primary-text-color;
    font-size: 28px;
    font-weight: 700;
  }

  &__right {
    height: 53px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 14px;
    font-size: 20px;
    color: $primary-text-color;

    &--firstItem {
      right: 251px;
    }

    &--secondItem {
      right: 33px;
    }
  }

  &__active {
    font-weight: 700;
    color: $bg-orange;
  }
}

.content {
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;

  > .errorContent {
    height: $content-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
